@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/perple-daria.jpg), url(images/pink-daria.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    animation: image_anime 3s ease;
    /* forwardsを設定すると100%の状態で止まる */
    animation-fill-mode: forwards;
    /* animationを開始する時間を設定 */
    animation-delay: 7s;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration: none;
    color: blueviolet;
    margin: 20px;
}

.mainmenu {
    background-color: aliceblue;
    padding: 30px;
    filter: opacity(60%);

    a:link {
        color: darkblue;
    }

    a:hover {
        color: #fff;
    }

    a:active {
        color: #676066;
    }
}

.mainmenu ul {
    display: flex;
    list-style: none;
    justify-content: right;
    gap: 30px;
}

.mainmenu ul li a {
    text-decoration: none;
    font-size: 18px;
    color: darkblue;
    font-style: italic;
}

.contactform {
    margin: 60px;
    font-size: 24px;
    color: #fff;
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.submit {
    text-align: center;
    margin: 2%;
}

footer {
    margin-top: auto;
}

@keyframes image_anime {
    100% {
        /* 切り替え後の画像 */
        background-image: url(images/pink-daria.jpg);
    }
}